<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">



<script src="/js/juniper.min.js"></script>
<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/316871/fairyfloss.css" />
<script>
    new Juniper({
    repo: 'RJuro/blog',
    theme: 'fairyfloss'
    });
    // listen to status updates
    document.addEventListener('juniper', ev =>
    console.log('Status:', ev.detail.status))
    </script>



<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>


  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ now.Format "2006" }} {{ .Site.Title }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>


</footer>
